{% extends 'layouts/base.html.twig' %}

{% block body %}
    {% for post in pagination %}
        <article class="mb-5">
            <h2>
                <a href="{{ path('app_posts_show', post.pathParams) }}" class="text-decoration-none">
                    {{ post.title }}
                </a>
            </h2>

            <p class="text-muted fst-italic">
                Published <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }}">{{ post.publishedAt|date }}</time> by {{ post.author.email }}
            </p>

            <p>{{ post.body|u.truncate(50, '...') }}</p>
        </article>
    {% endfor %}

    <div>
         {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
