<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bloggy{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="pt-5 container">
            <header class="d-flex justify-content-between align-items-center">
                <h1>⭐ <a href="{{ path('app_home') }}">My Blog</a></h1>

                <a href="{{ path('app_searched_posts_create') }}" class="btn btn-outline-primary">🔍 Search for posts</a>
            </header>

            <hr class="text-secondary">

            {{ include('layouts/partials/_flash_messages.html.twig') }}

            <div class="row">
                <main role="main"class="col-md-8">
                    {% block body %}{% endblock %}
                </main>

                <aside class="col-md-4">
                    {{ render_esi(controller(
                        'App\\Controller\\PostsController::featuredContent',
                        { 'maxResults': 3 }
                    )) }}
                </aside>
            </div>

            <footer class="my-5">
                <p class="text-muted">
                    Built with <span class="text-danger">&hearts;</span> by <a href="https://parlonscode.com">Parlons Code</a>.
                </p>
            </footer>
        </div>
    </body>
</html>
