<h1>{{ sender_name }} recommends you to read "{{ post.title }}"</h1>

<p>
    Read "{{ post.title }}" at 
    <a href="{{ url('app_posts_show', { slug: post.slug }) }}">
        {{ url('app_posts_show', { slug: post.slug }) }}
    </a>.
</p>

{% if sender_comments %}
    <h2>{{ sender_name }}'s comments:</h2>

    <p>{{ sender_comments }}</p>
{% endif %}
