<turbo-stream action="update" target="comments-count">
    <template>
        {{ commentsCount }} comments
    </template>
</turbo-stream>

<turbo-stream action="append" target="comment-list">
    <template>
        <div {{ stimulus_controller('scroll-to-highlight', { scrollMargin: 200, duration: 5 }) }}>
            {{ include('comments/_comment.html.twig', { comment, index: commentsCount }) }}
        </div>
    </template>
</turbo-stream>

<turbo-stream action="update" target="new-comment-form">
    <template>
        {# <div 
            class="alert alert-success"
            role="alert" 
            {{ stimulus_controller('auto-hide', {
                duration: 5,
                scrollTargetIdValue: 'comment-' ~ comment.id
            }) }}
        >
            ✅ Comment successfully added!
        </div> #}

        {{ include('comments/_form.html.twig', { commentForm }) }}
    </template>
</turbo-stream>
