{% extends 'layouts/base.html.twig' %}

{% block title 'Search for posts' %}

{% block body %}
    {% if searchQuery %}
        <h2 class="mb-4 display-6">
            🔍 {{ results|length }} posts containing "{{ searchQuery }}"
        </h2>

        {% for post in results %}
            <article class="my-3 {{ loop.index is odd ? 'bg-light' : '' }} py-4 px-2 rounded">
                <h4>
                    #{{ loop.index }}. <a href="{{ path('app_posts_show', {slug: post.slug}) }}" class="text-decoration-none">
                        {{ post._formatted.title|raw }}
                    </a>
                </h4>
                {{ post._formatted.body|raw }}
            </article>
        {% else %}
            <p>There are no results for your query.</p>
        {% endfor %}

        <p><a href="{{ path('app_searched_posts_create', {'fetch_last_query': true}) }}">Do another search</a></p>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <h1>Search for posts</h1>

                {{ form_start(searchForm) }}
                    {{ form_widget(searchForm) }}

                    <button type="submit" class="btn btn-primary w-100" formnovalidate>
                        Search
                    </button>
                {{ form_end(searchForm) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
